# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS/macOS
*.mode1v3
*.mode2v3
*.perspectivev3
**/Runner/GeneratedPluginRegistrant.h
**/Runner/GeneratedPluginRegistrant.m
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json
**/Runner/Project.swift
**/Pods/
**/.DS_Store

# IDEs
.idea/
.vscode/
*.iml
*.iws

# Qodo
/.qodo