name: sentifire
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_animate: ^4.5.0
  webview_flutter: ^4.4.2
  flutter_map: ^7.0.2
  latlong2: ^0.9.1
  flutter_local_notifications: ^19.5.0
  shared_preferences: ^2.5.3
  permission_handler: ^12.0.1
  workmanager: ^0.9.0+3
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
